.ordinary-cell {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px  solid lightblue /* rgb(7, 5, 126)*/ ;
    border-radius: 5px; 
    display: inline-block;
    background: white /*rgb(226, 217, 217) */;
    margin-top: -8px;
    margin-left: -1px;
  }

.is-visited {
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.6);
    background-color: rgba(235, 199, 199, 0.75);
    border-radius: 100%;
  }

  50% {
    transform: scale(1);
    background-color: rgba(187, 99, 99, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.shortest-path-right{
  animation-name: rightAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-size: cover; 
}
.shortest-path-up{
  animation-name: upAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-size: cover; 
}
.shortest-path-left{
  animation-name: leftAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-size: cover; 
}

.shortest-path-down{
  animation-name: downAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-size: cover; 
}
@keyframes upAnimation {
  0% {
    transform: scale(0.6);
    background-image: url('Cell Images/footup.png');
    background-color: rgba(32, 30, 30, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-image: url('Cell Images/footup.png');
    background-color: rgba(32, 30, 30, 0.75);
  }
  100% {
    transform: scale(1);
    background-image: url('Cell Images/footup.png');
    background-color: rgba(255, 255, 255, 0.70);
  }
}
@keyframes rightAnimation {
  0% {
    transform: scale(0.6);
    background-image: url('Cell Images/footright.png');
    background-color: rgba(32, 30, 30, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-image: url('Cell Images/footright.png');
    background-color: rgba(32, 30, 30, 0.75);
  }
  100% {
    transform: scale(1);
    background-image: url('Cell Images/footright.png');
    background-color: rgba(255, 255, 255, 0.75);
  }
}
@keyframes leftAnimation {
  0% {
    transform: scale(0.6);
    background-image: url('Cell Images/footleft.png');
    background-color: rgba(32, 30, 30, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-image: url('Cell Images/footleft.png');
    background-color: rgba(32, 30, 30, 0.75);
  }
  100% {
    transform: scale(1);
    background-image: url('Cell Images/footleft.png');
    background-color: rgba(255, 255, 255, 0.75);
  }
}
@keyframes downAnimation {
  0% {
    transform: scale(0.6);
    background-image: url('Cell Images/footdown.png');
    background-color: rgba(32, 30, 30, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-image: url('Cell Images/footdown.png');
    background-color: rgba(32, 30, 30, 0.75);
  }
  100% {
    transform: scale(1);
    background-image: url('Cell Images/footdown.png');
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.is-visited .is-bomb {
  background: url('Cell Images/bomb.png') yellow;
  background-repeat: no-repeat;
  
}
.is-bomb {
  background-image: url('Cell Images/bomb.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.75);

}

.is-visited .is-tree{
  background: url('Cell Images/tree.png') yellow;
  background-repeat: no-repeat;
}
.is-tree {
  background-image: url('Cell Images/tree.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.75);

}


.is-river {
  background-image: url('Cell Images/river.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.75);
}



.is-camp {
  background-image: url('Cell Images/finish.png');
  background-size: cover; 
  background-repeat: no-repeat;
}

.is-start {
  background-image: url('Cell Images/soldier.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.75);

}

.is-finish {
  background-image: url('Cell Images/finish.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.75);
}



